*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans' 'sans-serif';
}

html{
    scroll-behavior: smooth;
}

.icono {
    width: 2rem;        
    margin-left: 75px;
    vertical-align: middle;
}

.nav-logo {
    display: flex;
    align-items: center;
    }

.nav-logo h2{
    color: white;
    font-size: 15px;
}


.quienes-somos{
    background-color: black;
    color: white;
}

.quienes-somos h2{
    padding: 50px 0px 10px 0px;
    text-align: center;
}



.icono-card-quienes-somos{
    text-align: center;
    display:block;
}

.card-text{
    color: white;
}

.destacados{
    background-color: black;
    color: white;
}

.destacados h2{
    padding: 50px 0px 10px 0px;
    text-align: center;
}

.card-img-top{
    height: 150px;
}
i{
    color: white;
}

.contacto{
    background-color: black;
    color: white;
}

.contacto h2{
    padding: 50px 0px 10px 0px;
    text-align: center;
}

footer{
    color: white;
    padding: 20px 0px;
}